@charset "utf-8";
/* CSS Document */
/* Futura-Bold webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/futura/Futura-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Bold.woff') format('woff'),
         url('../fonts/futura/Futura-Bold.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Bold.svg#webfont') format('svg');
}

/* Futura-Book webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/futura/Futura-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Book.woff') format('woff'),
         url('../fonts/futura/Futura-Book.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Book.svg#webfont') format('svg');
}

/* Futura-Light-Italic webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/futura/Futura-Light-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Light-Italic.woff') format('woff'),
         url('../fonts/futura/Futura-Light-Italic.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Light-Italic.svg#webfont') format('svg');
}

/* Futura-Light webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/futura/Futura-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Light.woff') format('woff'),
         url('../fonts/futura/Futura-Light.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Light.svg#webfont') format('svg');
}

/* Futura-Medium webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/futura/Futura-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/Futura-Medium.woff') format('woff'),
         url('../fonts/futura/Futura-Medium.ttf')  format('truetype'),
         url('../fonts/futura/Futura-Medium.svg#webfont') format('svg');
}

@font-face {
  font-family:Futura;
  src:url(../fonts/FuturaBT-Book.eot);
  src:url(../fonts/FuturaBT-Book.eot?#iefix) format("embedded-opentype"),
  url(../fonts/FuturaBT-Book.woff2) format("woff2"),
  url(../fonts/FuturaBT-Book.woff) format("woff"),
  url(../fonts/FuturaBT-Book.ttf) format("truetype"),
  url(../fonts/FuturaBT-Book.svg#FuturaBT-Book) format("svg");
  font-weight:400;
  font-style:normal
}
@font-face {
  font-family:Futura;
  src:url(../fonts/Futura-Bold.eot);
  src:url(../fonts/Futura-Bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Futura-Bold.woff2) format("woff2"),
  url(../fonts/Futura-Bold.woff) format("woff"),
  url(../fonts/Futura-Bold.ttf) format("truetype"),
  url(../fonts/Futura-Bold.svg#Futura-Bold) format("svg");
  font-weight:700;
  font-style:normal
}